<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-google-pay"
		version="1.0.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>GooglePay</name>
	<js-module name="GooglePay" src="www/GooglePay.js">
		<clobbers target="cordova.plugins.GooglePay" />
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="GooglePay">
				<param name="android-package" value="com.plugin.googlepay.GooglePay"/>
			</feature>
		</config-file>
		<source-file src="src/android/GooglePay.java" target-dir="src/com/plugin/googlepay" />
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
